#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.PhoneInputInput {
  background-color: hsl(var(--b1) / var(--tw-bg-opacity));
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5rem;
  border-width: 1px;
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  border-right: unset;
}

.PhoneInputInput {
  outline: unset;
}

.PhoneInput--focus {
  outline: 2px solid hsla(var(--bc) / 0.2);
  outline-offset: 2px;
}
